<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LocarchiveConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="locarchiveEntities" connectionString="metadata=res://*/DataAccess.LocarchiveModel.csdl|res://*/DataAccess.LocarchiveModel.ssdl|res://*/DataAccess.LocarchiveModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.186.197;user id=pac;password=pac;database=demo;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LocarchiveConsoleApp.Properties.Settings>
            <setting name="fichier" serializeAs="String">
                <value>C:\temp\locarchive\locarchive.csv</value>
            </setting>
            <setting name="MSG001" serializeAs="String">
                <value>Injection du fichier ...</value>
            </setting>
            <setting name="MSG000" serializeAs="String">
                <value>Vérification entête du fichier ...</value>
            </setting>
            <setting name="MSGEND" serializeAs="String">
                <value>FIN !</value>
            </setting>
        </LocarchiveConsoleApp.Properties.Settings>
    </applicationSettings>
</configuration>